
<% if user_signed_in? %>
	<h3><b>Welcome <%= current_user.username %></b></h3>

	<p> Logged in on: <%= user_login_time %></p>
	<p> Last log in on: <%= user_last_login_time(current_user)%></p><br>

	<p><%= link_to('See your chores', chores_path) %></p><br>


	<%= link_to :Logout, destroy_user_session_path, method: :delete %>

<% else %>
	
  	  <h2><b>Welcome to the Chore Helper Management System</b></h2>

  	  <ul>
		  <li><%= link_to('Sign In', new_user_session_path) %></li>
		  <li><%= link_to('Register', new_user_registration_path) %></li>
	  </ul>

<% end %>







