<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User's List of Chores!</title>

  </head>
  <body>

  <section class="tile">
    <div class="container">

      
      <% if current_user.chores.empty? %>
         <h3><strong><%= current_user.username %> You have no chores<br> 
          <%= link_to('please enter a chore', new_chore_path) %></strong></h3><br>

      <% else %> 
  
        <h3><strong><%= current_user.username %> here are a list of your chores</strong></h3><br>
        <% @chores.each do |chore| %>
        <ul>
          <li><%= chore.chore_type %></li>
          <% end %>
        </ul> 

        <% end %> 

        <%= link_to :Logout, destroy_user_session_path, method: :delete %>
  
    </div>
  </section>
  </body>
</html>
