<h2><strong><%= current_user.username %>, enter a new chore</strong></h2>

<fieldset>

	<legend>Your Chores!</legend>
	<%= form_for @chore do |f| %>
	<%= f.label "Chore" %><br>
	<%= f.text_field :chore_type %><br><br>
</fieldset>

<%= f.submit %>
<% end %>



